
<div class="card">
    <div class="card-header" id="feedshow">
        <h1><%= show.owner.username %>: 📺</h1>
    </div>
    <div class="card-body" id="feedshowbody">
        <div class="row">
            <div class="col-lg-3" align="center">
                <div style="margin: 0 auto;">
                    <img id="show-image" src="<%= show.imageUrl %>" alt="<%= show?.title %>">
                </div>
                
            </div>
            <div class="col-lg-9" id="showcard-container">
                <h1><%= show.title %></h1>
                <div id="details-container">
                    <h4>Genre: <%= show.genre %></h4>
                    <h4>Release Year: <%= show.year %></h4>
                    <h4>Rating: <%= show.rating %> </h4>
                    <h4>Seasons: <%= show.seasons %></h4>
                    <h4>Episodes: <%= show.episodes %></h4>
                </div>
                <div id="showcard-description">
                    <p id="description"><strong>Description:</strong> <%= show.description %></p>
                </div>
                <% if (!show.note) { %>
                   <p>No notes were added for this show.</p>
                <% } else { %>
                    <p><strong>Notes:</strong> <%= show.note %></p>
                <% } %>
            </div>
            </div>
        </div>
</div>

