<%- include('./partials/navbar.ejs', { active: 'home' }) %>

<% if (!user) { %>  
  <div class="row mt-5">
    <div class="col-lg" id="landingpage-card">
      <h1>Welcome to BingeBuddy</h1>
      <p>Join BingeBuddy to keep track of your favorite watched Movies and Tv Shows!</p>
      <p>Explore watched movies and tv shows from a community of fellow binge-watchers.</p>
      <h2>Sign up now and start building your watchlist!</h2>
      <a href="/auth/sign-up" class="btn btn-secondary">Sign Up</a>
    </div>
    <div class="col-lg">
      <h2 id="landingpage">Already have an account? Sign In below:</h2>
      <div class="signin-card">
        <h4 class="signin-title">Log In!</h4>
        <form action="/auth/sign-in" class="signin" method="POST" >
          <label class="sigin-field" for="username">
          
            <input
              autocomplete="off"
              id="username"
              placeholder="Username"
              class="login-input-field"
              name="username"
              type="text"
            />
          </label>
          <label class="signin-field" for="password">
      
            <input
              id="logpass"
              placeholder="Password"
              class="login-input-field"
              name="password"
              type="password"
            />
          </label>
          <button class="signin-btn" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
<% } else { %>
  <h1>Welcome back to BingeBuddy <%= user.name %>!</h1>
  <% if (sortedContent) { %>
    <ul id="feed">
      <% sortedContent.forEach((obj) => { %>
        <% if (obj.type === 'Movie') { %>
          <%- include ('./partials/moviecard.ejs', { movie: obj })%>
        <% } else { %>
          <%- include('./partials/showcard.ejs', { show: obj })%>
        <% } %>
      <% }) %>
    </ul>
  <% } %>
<% } %>
</div>
<%- include('./partials/footer.ejs') %>
