<%- include('../../partials/navbar.ejs', { active: '' }) %>
<div style="display: flex; justify-content: center; padding: 40px;">
    <h1>My Movies</h1>
</div>
<div class="row">
    <div class="col">
        <% if (movies && movies.length > 0) { %>
        <ul id="movie-listing">
            <% movies.forEach(movie => { %>
                <div class="movie-card">
                    <div class="card-info">
                        <li>
                            <img src="<%= movie?.imageUrl %>" alt="<%= movie?.title %>" />
                            <a href="/movies/user-movies/<%= movie._id %>" class="button"><h2><strong><%= movie?.title %></strong></h2></a>
                        </li>
                    </div>
                </div>
            <% }) %>
        </ul>
        <% } else { %>
            <p>You have not added any movies yet!</p>
        <% } %>
        
        
    </div>
</div>
<a href="/movies/user-movies/new" style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">Add New Movie</a>

<%- include('../../partials/footer.ejs') %>