<%- include('../../partials/navbar.ejs', { active: '' }) %>
<div style="display: flex; justify-content: center; padding: 40px;">
<h1>My Movie Recommendations</h1>
</div>
<div class="row">
    <div class="col">
        <% if (movieRecommendations && movieRecommendations.length > 0) { %>
        <ul id="movie-listing">
            <% movieRecommendations.forEach(reco => { %>
                <div class="card">
                    <div class="card-info">
                        <li>
                            <img src="<%= reco.media.movie?.imageUrl %>" alt="<%= reco.media.movie?.title %>" />
                            <a href="/users/<%= user._id %>/recommendations/movies/<%= reco.media._id %>" class="button"><h2><strong><%= reco.media.movie?.title %></strong></h2></a>
                        </li>
                    </div>
                  </div>
            <% }) %>
        </ul>
        <% } else { %>
            <p>You have not created movie recommendations yet!</p>
        <% } %>
        
        
    </div>
</div>
<a href="<%= newLink %>" style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">Add New Movie Recommendation</a>

<%- include('../../partials/footer.ejs') %>