<%- include('../../partials/navbar.ejs', { active: '' }) %>
<div class="card mb-4" style="width: 100%;">
    <div class="card-body">
        <form id="new-movie-reco" action="<%= actionLink %>" method="POST">
            <div>
                <label for="mediaId" class="form-label">Movie</label>
                <select name="mediaId" id="mediaId" class="form-control">
                    <% movies.forEach(media => { %>
                        <option value="<%= media._id %>">
                            <%= media?.movie.title %>
                        </option>
                    <% }) %>
                    <option value="newMovie">-- NEW MOVIE --</option>
                </select>
            </div>
            <div>
                <label name="note" class="form-label">Note</label>
                <textarea type="text" name="note" class="form-control"></textarea>
            </div> 
            
            <div class="newMovieSection">
                <div>
                    <label for="title" class="form-label">Movie Title:</label>
                    <input type="text" name="title" id="title" class="form-control"/>
                </div>
                
                <div>
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="description" id="description" class="form-control" rows="3" cols="10"></textarea>
                </div>
                
                <div>
                    <label for="genre" class="form-label">Genre:</label>
                    <input type="text" name="genre" id="genre" class="form-control" />
                </div>
                
                <div>
                    <label for="year" class="form-label">Release Year:</label>
                    <input type="number" name="year" id="year" class="form-control" />
                </div>
                
                <div>
                    <label for="rating" class="form-label">Rating (0-10):</label>
                    <input type="number" name="rating" id="rating" min="0" max="10" step="0.1" class="form-control" />
                </div>

                <div>
                    <label for="imageUrl" class="form-label">Movie Image URL:</label>
                    <input type="url" name="imageUrl" placeholder="https://example.com/image.jpg" class="form-control" />
                </div>
            </div>    
         
            <input type="hidden" value="movie" name="contentType" />
        
            <button type="submit">Save Recommendation</button>
        </form>
    </div>
</div>


<script>
    $(document).ready(function(){
        // onLoad
        $('.newMovieSection').hide();

        // onChange
        $('#mediaId').on('change', function(e){
            const selectedOption = e.target.value;

            if(selectedOption == 'newMovie'){
                $('.newMovieSection').show();
            } else {
                $('.newMovieSection').hide();
            }
        });
    }) 
</script>

<%- include('../../partials/footer.ejs') %>