<%- include('../partials/navbar.ejs', { active: '' }) %>
<div style="display: flex; justify-content: center; padding: 40px;">
<h1>Explore Movies!</h1>
</div>
<% if (movies && movies.length > 0) { %>
<ul id="movie-listing">
    <% movies.forEach(movie => { %>
        <li>
            <img src="<%= movie.movie?.imageUrl %>" alt="<%= movie.movie?.title %>" />
            <a href="/movies/<%= movie._id %>"><h2><%= movie.movie?.title %></h2></a>
            <p>Genre: <%= movie.movie?.genre %></p>
            <p>Rating: <%= movie.movie?.rating %></p>

        </li>
    <% }) %>
</ul>
<% } else { %>
    <p>There are no movies.</p>
<% } %>

<a href="/movies/new">Add New Movie Recommendation</a>

<%- include('../partials/footer.ejs') %>