<%- include('../partials/navbar.ejs', { active: '' }) %>

<h1>My Movie Recommendations</h1>

<% if (movies && movies.length > 0) { %>
<ul id="movie-listing">
    <% movies.forEach(movie => { %>
        <li>
            <img src="<%= movie.movie?.imageUrl %>" alt="<%= movie.movie?.title %>" />
            <a href="/movies/<%= movie._id %>"><h2><%= movie.movie?.title %></h2></a>
            <p>Genre: <%= movie.movie?.genre %></p>
            <p>Rating: <%= movie.movie?.rating %></p>

        </li>
    <% }) %>
</ul>
<% } else { %>
    <p>You have not created movie recommendations yet!</p>
<% } %>

<a href="/movies/new">Add New Movie Recommendation</a>

<%- include('../partials/footer.ejs') %>