<div class="card">
    <div class="card-body">
        <form action="/users/<%= user._id %>/recommendations/shows/<%= reco._id %>" method="POST">
            <div>
                <label for="mediaId" class="form-label"><%= curMedia.show?.title %></label>
         
            </div>
            <div>
        
            <div class="newShowSection">
                <div>
                    <label for="title" class="form-label">Show Title:</label>
                    <input type="text" name="title" id="title" value="<%= curMedia.show?.title %>" class="form-control"/>
                </div>
                
                <div>
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="description" id="description" class="form-control" rows="3" cols="10"><%= curMedia.show?.description %></textarea>
                </div>
        
                <div>
                    <label for="note" class="form-label">Notes:</label>
                    <textarea name="note" id="note" class="form-control" rows="3" cols="10"><%= reco.note %></textarea>
                </div>
                
                <div>
                    <label for="seasons" class="form-label">Seasons:</label>
                    <input type="number" name="seasons" id="seasons" class="form-control" value="<%= curMedia.show?.seasons %>"/>
                </div>
                
                <div>
                    <label for="episodes" class="form-label">Episodes:</label>
                    <input type="number" name="episodes" id="episodes" class="form-control" value="<%= curMedia.show?.episodes %>"/>
                </div>
                
                <div>
                    <label for="genre" class="form-label">Genre:</label>
                    <input type="text" name="genre" id="genre" class="form-control" value="<%= curMedia.show?.genre %>" />
                </div>
                <div>
                    <label for="year" class="form-label">Release Year:</label>
                    <input type="number" name="year" id="year" class="form-control" value="<%= curMedia.show?.year %>"/>
                </div>
                <div>
                    <label for="rating" class="form-label">Rating (0-10):</label>
                    <input type="number" name="rating" id="rating" min="0" max="10" step="0.1" class="form-control" value="<%= curMedia.show?.rating %>"/>
                </div>
        
                <div>
                    <label for="imageUrl" class="form-label">Show Image URL:</label>
                    <input type="url" name="imageUrl" placeholder="https://example.com/image.jpg" class="form-control" value="<%= curMedia.show?.imageUrl %>"/>
                </div>
            </div>    
            <input type="hidden" value="show" name="contentType" />
                
            <button type="submit">Save Recommendation</button>
        </form>

    </div>
</div>
</div>