<%- include('../../partials/navbar.ejs', { active: '' }) %>

<div style="display: flex; justify-content: center; padding: 40px;">
    <h1><%= title %></h1>
    </div>
    <div class="row">
        <div class="col">
            <% if (shows && shows.length > 0) { %>
            <ul id="show-listing">
                <% shows.forEach(show => { %>
                    <div class="card">
                        <div class="card-info">
                            <li>
                                <img src="<%= show?.imageUrl %>" alt="<%= show?.title %>" />
                                <a href="/shows/user-shows/<%= show._id %>" class="button"><h2><strong><%= show?.title %></strong></h2></a>
                            </li>
                        </div>
                      </div>
                <% }) %>
            </ul>
            <% } else { %>
                <p>You have not created show recommendations yet!</p>
            <% } %>
            
            
        </div>
    </div>
    <a href="/shows/user-shows/new" style="display: flex; justify-content: center; margin-top: 20px;">Add New Show Recommendation</a>

<%- include('../../partials/footer.ejs') %>