<%- include('../../partials/navbar.ejs', { active: '' }) %>
<div class="card">
    <div class="card-header" id="showview">
        <nav aria-label="breadcrumb">
            <ol id="shows-breadcrumb" class="breadcrumb mb-0">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/shows/user-shows">Back to Tv Shows</a>
                </li>
            </ol>
            <div id="showsedit-delete">
                <a class="btn btn-primary" href="/shows/user-shows/<%= show._id %>/edit">Edit</a>
                <form action="/shows/user-shows/<%= show._id %>?_method=DELETE" method="POST" id="main">
                    <button class="btn btn-danger" type="submit">DELETE</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="card-body" id="showviewbody">
        <div class="row">
            <div class="col-lg-3" align="center">
                <div id="showsimage">
                    <img id="show-image" src="<%= show.imageUrl %>" alt="imageUrl">
                </div>
                
            </div>
            <div class="col-lg-9" id="shows-show">
                <h1><%= show.title %></h1>
                <div id="details-container">
                    <h4>Genre: <%= show.genre %></h4>
                    <h4>Release Year: <%= show.year %></h4>
                    <h4>Rating: <%= show.rating %> </h4>
                    <h4>Seasons: <%= show.seasons %></h4>
                    <h4>Episodes: <%= show.episodes %></h4>
                </div>
                <div id="shows-show-description">
                    <p id="description"><strong>Description:</strong> <%= show.description %></p>
                </div>
                <% if (!show.note) { %>
                   <p>No notes were added for this show.</p>
                <% } else { %>
                    <p><strong>Notes:</strong> <%= show.note %></p>
                <% } %>
            </div>
            </div>
        </div>
</div>

<%- include('../../partials/footer.ejs') %>